/**************************************
COLORS
***************************************

#25ced1 -- bright light blue (links)
#f4c803 -- yellow
#00a6a6 -- muted light blue (logo 'j')
#cc3399 -- purple
#df2879 -- pink
/**************************************
RESET
***************************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dd,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**************************************
GLOBAL
***************************************/
html {
	font-family: 'Nunito', sans-serif;
	width: 100%;
	background-color: #000;
	color: #fff;
}

a {
	text-decoration: none;
	color: #25ced1;
}

	a:hover {
		color: #df2879;
	}

ul {
	list-style: none;
	display: flex;
	margin: 0 auto;
	padding: 0;
}

ul li {
	padding: 10px;
}

h1, h2 {
	color: #f4da03;
}

h2 {
	font-size: 3em;
	margin: 25px auto;
}

h3 {
	text-align: center;
	font-size: 2em;
	color: #cc3399;
	margin-bottom: 25px;
}

h4 {
	font-size: 1.25em;
	margin-bottom: 15px;
}

label {
	display: block;
}
/**************************************
HEADER
***************************************/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-size: 150%;
}

.grid-container, .grid-container-sm, .grid-container-lg {
	display: grid;
	grid-template-rows: auto;
}

.grid-container {
	grid-template-columns: repeat(4, 25%);
}

.grid-container-lg {
	grid-template-columns: repeat(8, 12.5%);
}


.header {
	grid-template-areas:
		". logo logo ."
		" . h-one h-one ."
		". nav nav .";
	margin: 100px auto 400px;
}

.logo {
	grid-area: logo;
	min-width: 300px;
	margin: 0 auto 50px;
}

h1 {
	grid-area: h-one;
	text-align: center;
	font-size: 3em;
}

.main-nav {
	grid-area: nav;
}

.nav-links {
	width: 100%;
	font-weight: 700;
	font-size: 1.5em;
}

/**************************************
ABOUT ME
***************************************/

.about {
	grid-template-areas: 
		". . . h-two h-two . . ."
		". pic pic . . bio bio .";
	padding: 50px 0 200px;
}

h2 {
	grid-area: h-two;
	text-align: center;
}

.pic {
	grid-area: pic;
	display: flex;
	border-radius: 5px;
}

.bio {
	font-size: 1.25em;
	grid-area: bio;
	align-self: center;
}

/**************************************
PORTFOLIO
***************************************/

.port {
	grid-template-areas: 
		". h-two h-two ."
		"work work work work"
		"skills skills skills skills"
		". other other .";
}

/** Work **/

.work {
	grid-area: work;
}

.example {
	color: #fff;
	margin: 50px auto;
}
	
	.example:not(.e-one) {
		margin: 100px auto;
	}

	.e-left {
	grid-template-areas: 
		" . e-link e-link . blurb blurb blurb ."
	}

	.e-right {
	grid-template-areas: 
		" . blurb blurb blurb . e-link e-link ."
	}

.e-pic {
	border: 10px double #25ced1;
	border-radius: 500px;
}
	.e-pic:hover {
		border-color: #df2879;
	}

.e-link {
	 grid-area: e-link;
}

.blurb {
	grid-area: blurb;
}

.e-header {
	color: #f4da03;
}

.example p {
	margin-bottom: 5px;
}

.skills-used {
	color: #df2879;
	font-weight: 900;
}

/** Skills **/

.skills {
	grid-area: skills;
	grid-template-areas: 
		". . . h-three h-three . . ."
		"skill skill skill skill skill skill skill skill";
	margin-bottom: 100px;
}

.h-three {
	grid-area: h-three;
}

.skill-list {
	grid-area: skill;
	justify-self: center;
}

.s-name {
	text-align: center;
}

.s-item {
	margin: 0 10px;
}

.i-one {
	color: #25ced1;
}

.i-two {
	color: #df2879;
}

.i-three, .i-five {
	color: #f4da03;
}

.i-four {
	color: #cc3399;
}

/* Other Projects */

.other {
	grid-area: other;
	margin-bottom: 100px;
}

/**************************************
FOOTER
***************************************/

.footer {
	grid-template-areas: 
		". . contact contact contact contact . ."
		"copy copy copy . social social social social";
}

.footer h2 {
	margin-bottom: 20px;
}

.contact {
	grid-area: contact;
	grid-template-areas: 
		"h-two h-two h-two h-two"
		"form form form form";
	background-color: #202020;
	border-radius: 20px;
	margin-bottom: 50px;
}

.form {
	grid-area: form;
	text-align: center;
	margin-bottom: 50px;
}
	.form input, .form textarea {
		width: 75%;
		border-radius: 5px;
		min-width: 50%;
		max-width: 100%;
		min-height: 48px;
		max-height: 200px;
	}

.social {
	grid-area: social;
	text-align: center;
}
	.social h3 {
		display: inline-block;
		margin-bottom: 0;
		color: #f4c803;
	}

	.social a {
		display: inline-block;
		line-height: 10px;
		margin-left: 40px;
	}

.icon {
	display: inline-block;
	border-radius: 100px;
	width: 35px;
}
	a:last-child .icon {
		padding: 2.955px 0;
		background-color: #fff;
	}

.copy {
	grid-area: copy;
	align-self: end;
	padding: 10px;
}