/**************************************
COLORS
***************************************

#25ced1 -- bright light blue (links)
#f4c803 -- yellow
#00a6a6 -- muted light blue (logo 'j')
#cc3399 -- purple
#df2879 -- pink
/**************************************
RESET
***************************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dd,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**************************************
GLOBAL
***************************************/
* {
	box-sizing: border-box;
}

html {
	font-family: 'Nunito', sans-serif;
	width: 100%;
	background-color: #000;
	color: #fff;
}

a {
	text-decoration: none;
	color: #25ced1;
}

	a:hover {
		color: #df2879;
	}

ul {
	list-style: none;
	display: flex;
	margin: 0 auto;
	padding: 0;
}

ul li {
	padding: 10px;
}

h1, h2 {
	color: #f4da03;
}

h2 {
	font-size: 3em;
}

h3 {
	text-align: center;
	font-size: 2em;
	color: #cc3399;
}

label {
	display: block;
}
/**************************************
HEADER
***************************************/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-size: 150%;
}

.grid-container, .grid-container-sm {
	display: grid;
	grid-template-rows: auto;
}

.grid-container {
	grid-template-columns: 25% 25% 25% 25%;
	margin-bottom: 100px;;
}

.header {
	grid-template-areas:
		". logo logo ."
		" . h-one h-one ."
		". nav nav .";
	margin: 50px auto 400px;
}

.logo {
	grid-area: logo;
	min-width: 300px;
	margin: 0 auto 50px;
}

.h1 {
	grid-area: h-one;
	text-align: center;
	font-size: 3em;
}

.main-nav {
	grid-area: nav;
}

.nav-links {
	width: 100%;
	font-weight: 700;
	font-size: 1.5em;
}

/**************************************
ABOUT ME
***************************************/

.about {
	grid-template-areas: 
		". h-two h-two ."
		"pic . bio .";
}

h2 {
	grid-area: h-two;
	text-align: center;
}

.pic {
	grid-area: pic;
	display: flex;
}

.bio {
	grid-area: bio;
}

/**************************************
PORTFOLIO
***************************************/

.port {
	grid-template-areas: 
		". h-two h-two ."
		"skills skills skills skills"
		"work work work work";
}

.skills {
	grid-area: skills;
	grid-template-areas: 
		". h-three h-three ."
		"skill skill skill skill"
}

.skill-list {
	grid-area: skill;
	justify-self: center;
}

.s-name {
	text-align: center;
}

.icon {
	justify-self: center;
}

.i-one {
	color: #25ced1;
}

.i-two {
	color: #df2879;
}

.i-three, .i-five {
	color: #f4da03;
}

.i-four {
	color: #cc3399;
}

.work {
	grid-area: work;
	grid-template-areas: 
		". h-three h-three ."
		"dt-one . dd-one ."
		". dd-two dt-two ."
		". dt-three dd-three ."
		". dd-four . dt-four";
}

.example {
	color: #fff;
}

.h-three {
	grid-area: h-three;
}

.dt-one {
	grid-area: dt-one;
}

.dt-two {
	grid-area: dt-two;
}

.dt-three {
	grid-area: dt-three;
}

.dt-four {
	grid-area: dt-four;
}

.dd-one {
	grid-area: dd-one;
}

.dd-two {
	grid-area: dd-two;
}

.dd-three {
	grid-area: dd-three;
}

.dd-four {
	grid-area: dd-four;
}

/**************************************
CONTACT
***************************************/

.footer {
	grid-template-areas: 
		"other contact contact social"
		"copy . . .";
}

.contact {
	grid-area: contact;
	grid-template-areas: 
		". h-two h-two ."
		". form form .";
}

.form {
	grid-area: form;
	text-align: center;
}
.other {
	grid-area: other;
}

.social {
	grid-area: social;
}

