/**************************************
TABLE OF CONTENTS
***************************************

1. Color Template
2. CSS Reset
3. Global
4. Header
5. About Me
6. Portfolio
7. Footer
8. Media Queries

***************************************
COLORS
***************************************

#25ced1 -- bright light blue (links)
#f4c803 -- yellow
#cc3399 -- purple
#df2879 -- pink
#270514 -- dark pink (outlines)

***************************************
RESET
***************************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dd,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**************************************
GLOBAL
***************************************/

html {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	background-color: #000;
	color: #fff;
	position: relative;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

	body:before {
		background: url("../images/bricks.jpg") left top/cover no-repeat fixed;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	content: '';
		max-width: 100%;
		min-width: 100%;
		max-height: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: .10;
		will-change: transform;
		z-index: -1;
	}

p {
	font-family: 'Lato';
}

a {
	text-decoration: none;
	color: #25ced1;
}

	a:hover {
		color: #df2879;
	}

ul {
	list-style: none;
	display: flex;
	margin: 0 auto;
	padding: 0;
}

ul li {
	padding: 10px;
}

h1, h2, .social h3 {
	color: #f4da03;
	text-shadow: 2px 1px #92154d;
}

h2 {
	font-size: 3em;
	margin: 50px auto;
}

h3 {
	text-align: center;
	font-size: 2em;
	color: #cc3399;
	margin-bottom: 25px;
}

h4 {
	font-size: 1.25em;
	margin-bottom: 15px;
}

label {
	display: block;
}

button:hover {
	cursor: pointer;
}

.grid-container, .grid-container-sm, .grid-container-lg {
	display: grid;
	grid-template-rows: auto;
}

.grid-container {
	grid-template-columns: repeat(4, 25%);
}

.grid-container-lg {
	grid-template-columns: repeat(8, 12.5%);
}

.box {
	justify-self: center;
	min-width: 60vw;
}
/**************************************
HEADER
***************************************/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-size: 150%;
}

.header {
	grid-template-areas:
		". logo logo ."
		"h-one h-one h-one h-one"
		"nav nav nav nav";
	margin: 100px auto 400px;
}

.logo {
	grid-area: logo;
	min-width: 300px;
	margin: 0 auto 50px;
}

h1 {
	grid-area: h-one;
	text-align: center;
	font-size: 3em;
}

.main-nav {
	grid-area: nav;
}

.nav-links {
	width: 100%;
	font-weight: 700;
	font-size: 1.5em;
}

/**************************************
ABOUT ME
***************************************/

.about-banner {
	width: 100%;
	border-top: 2px dashed #f4c803;
	border-bottom: 2px dashed #f4c803;
	padding-top: 50px;
}

.about {
	grid-template-areas: 
		". . . h-two h-two . . ."
		"pic pic pic . bio bio bio .";
	padding: 120px 0;
	position: relative;
	border-bottom: 2px dashed #f4c803;
}

	.about:before {
		content: '';
		background: url("../images/mania.png") left top/cover no-repeat fixed;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: .15;
		will-change: transform;
		z-index: -1;
	}

h2 {
	grid-area: h-two;
	text-align: center;
	margin-bottom: 100px;
}

.pic {
	grid-area: pic;
	display: flex;
	opacity: .95;
	margin-left: 50px;
}

.pic, .bio p, .other, .contact {
	border: 2px solid #270514;
	border-radius: 20px;
	background-color: #101010;
}

.bio {
	font-size: 1em;
	grid-area: bio;
	align-self: center;
}

	.bio p {
		padding: 10px;
		z-index: 1;
	}

/**************************************
PORTFOLIO
***************************************/

.port {
	grid-template-areas: 
		". h-two h-two ."
		"work work work work"
		"skills skills skills skills"
		". other other .";
		padding-top: 50px;
}

.port-banner {
	align-self: center;
	grid-area: h-two;
}

/** Work **/

.work {
	grid-area: work;
	border-top: 2px dashed #f4c803;
}

.example {
	color: #fff;
	padding: 250px 0;
	height: 100%;
	position: relative;
}
	.example:before {
		-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: .15;
		will-change: transform;
		z-index: -1;
	}

	.example:first-child:before {
		background: url("../images/splendorous-bg.png") center/cover no-repeat fixed;
	}


	.example:nth-child(2):before {
		background: url("../images/chromatics-bg.png") center/cover no-repeat fixed;

	}
	.example:nth-last-child(2):before {
		background: url("../images/queen-bg.png") center/cover no-repeat fixed;

	}
	.example:last-child:before {
		background: url("../images/bpa-bg.png") center/cover no-repeat fixed;
	}

	.example:last-child {
		margin-bottom: 100px;
	}
	
	.example:not(.e-one) {
		padding: 100px auto;
	}

	.e-left {
	grid-template-areas: 
		" . e-link e-link . blurb blurb blurb ."
	}

	.e-right {
	grid-template-areas: 
		" . blurb blurb blurb . e-link e-link ."
	}

.e-pic {
	border: 10px double #25ced1;
	border-radius: 500px;
}
	.e-pic:hover {
		border-color: #df2879;
	}

.e-link {
	 grid-area: e-link;
}

.blurb {
	grid-area: blurb;
}

.e-header {
	color: #f4da03;
}

.example p {
	margin-bottom: 5px;
}

.skills-used {
	color: #df2879;
	font-weight: 900;
}

/** Skills **/

.skills {
	grid-area: skills;
	grid-template-areas: 
		". . . h-three h-three . . ."
		"skill skill skill skill skill skill skill skill";
		justify-content: space-evenly;
	margin-bottom: 100px;
}

.h-three {
	grid-area: h-three;
}

.skill-list {
	grid-area: skill;
	justify-self: center;
}

.s-name {
	text-align: center;
}

.s-item {
	margin: 0 10px;
}

.i-one {
	color: #25ced1;
}

.i-two {
	color: #df2879;
}

.i-three, .i-five {
	color: #f4da03;
}

.i-four {
	color: #cc3399;
}

/** Other Projects **/

.other {
	grid-area: other;
	margin-bottom: 100px;
	background-color: #101010;
	padding: 10px 20px 20px;
}

/**************************************
FOOTER
***************************************/

.footer {
	grid-template-areas: 
		". . contact contact contact contact . ."
		"copy copy copy . social social social social";
		padding-bottom: 5px;
}

.footer h2 {
	margin: 20px 0;
}

.contact {
	grid-area: contact;
	grid-template-areas: 
		"h-two h-two h-two h-two h-two h-two h-two h-two"
		". form form form form form form ."
		"btn btn btn btn btn btn btn btn";
	margin-bottom: 50px;
}

.form {
	grid-area: form;
	margin-bottom: 20px;
}
	.form input, .form textarea {
		width: 75%;
		border-radius: 5px;
		min-width: 50%;
		max-width: 100%;
		min-height: 48px;
		max-height: 200px;
	}

.field input, .field textarea {
	width: 100%;
	margin-bottom: 5px;
	padding-left: 5px;
}

.btn {
	grid-area: btn;
	background-color: #707070;
	margin: 0 auto 30px;
	padding: 2px 15px;
	color: #f4c803;
	text-shadow: 1px 1px #101010;
	font-weight: 900;
	font-size: 1.7em;
	border: none;
	border-radius: 20px;
	box-shadow: 2px 3px #505050;
}
	.btn:active, .btn:focus {
		outline: none;
	}

	.btn:hover {
		background-color: #808080;
		text-shadow: 2px 2px #101010;
	}

	.btn:active {
		background-color: #505050;
		color: #c29f02;
		text-shadow: -1px -1px #101010;
		box-shadow: 2px 3px #707070;
	}

.social {
	grid-area: social;
	text-align: center;
}
	.social h3 {
		display: inline-block;
		margin-bottom: 0;
		line-height: 1.1em;
	}

	.social a {
		display: inline-block;
		line-height: 10px;
		margin-left: 40px;
	}

.icon {
	display: inline-block;
	border-radius: 100px;
	width: 35px;
}

	a:last-child .icon {
		padding: 2.955px 0;
		background-color: #fff;
	}

	.icon:hover, .icon:focus, .icon:active {
		opacity: .5;
	}

.copy {
	grid-area: copy;
	align-self: end;
	padding: 0 10px;
}

/**************************************
MEDIA QUERIES
***************************************/
@media only screen and (min-width: 1300px) {
	.box {
		min-width: 40vw;
		max-width: 40vw;
	}
}

@media only screen and (max-width: 845px) {
	.fa-10x {
		font-size: 6em !important;
	}

	li:last-child .s-name {
		margin-bottom: 25px;
	}

	.sql {
		max-width: 60px;
		max-height: 65px;
	}
}

@media only screen and (max-width: 812px) {

	.footer {
		grid-template-areas: 
			"contact contact contact contact contact contact contact contact"
			"social social social social social social social social"
			"copy copy copy copy copy copy copy copy";
	}

	.copy {
		justify-self: center;
	}

	.box {
		min-width: 60vw;
	}

}

@media only screen and (max-width: 630px) {

	h1, h2 {
		font-size: 1.7em;
	}

	.header {
		margin-bottom: 300px;
	}

	.logo {
		min-width: 100px;
		max-width: 100px;
		max-height: 185px;
	}

	.nav-links {
		font-size: .8em;
	}

	.box {
		min-width: 90vw;
		max-width: 95vw;
	}

	.about {
		padding: 200px 0;
	grid-template-areas: 
		". . . h-two h-two . . ."
		"pic pic pic pic pic pic pic pic"
		"bio bio bio bio bio bio bio bio";
	}

	.pic {
		margin: 0;
		border-radius: 0;
		border: none;
	}

	.bio p {
		border-radius: 0;
		border: none;
	}

	.e-left, .e-right {
	grid-template-areas: 
		" . blurb blurb blurb blurb blurb blurb ."
		" . e-link e-link e-link e-link e-link e-link .";
	}

	.blurb {
		margin-bottom: 50px;
	}

	.s-name {
		font-size: .8em;
	}

	.s-item {
		margin: 0 !important;
		text-align: center;
	}

	.fa-10x {
		font-size: 2em !important;
	}

	.sql {
		max-width: 20px;
		max-height: 25px;
	}

	.social a {
		margin-left: 10px;
	}

}
